* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: RGB(255, 230, 185);
  width: 100%;
}

main {
  background: black;
  justify-content: space-between;
  align-items: center;
  /* min-width: 8vw; */
  display: flex;

  overflow-x: hidden;
}

/* couleur des liens de la nav */
.navLi {
  text-decoration: none;
  color: RGB(255, 230, 185);
}

.App-header {
  background: black;
}

/*image jeux // carousel ?*/


.imgGames {
  padding: 15px;
  max-width: 100%;
  min-width: 50%;
  min-height: 50%;
  max-height: 100%;
}



h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  font-size: 40px;
}

.avatar {
  /* width: 100%;
  height: 100%; */
  width: 150px;
  height: 100px;
}




.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

}

.lienGame {
  text-decoration: none;
  color: black;
}

/* images des jeux en grid responsive */
.container-games {
  margin-top: 50px;

}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-row: auto;
  grid-column: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;

}


/*player de video bande annonces jeux*/
.video {
  display: flex;
  align-items: center;
  justify-content: center;

}

.desc {
  color: black;
  padding: 10px;
  display: flex;

  justify-content: center;
}

li {
  text-decoration: none;
}

footer {
  width: auto;
  height: 70px;
  background: black;
  padding-top: 15px;
}



/* tableau dashboard */


.table {
  width: 100%;

  font-size: 0.9rem;
  color: RGB(255, 230, 185);
  background-color: black;

}

.table,
.table .cell {
  border: 1px solid;
  border-collapse: collapse;

}

.table .cell {
  padding: 7px;
  text-align: center;
}

.table .cell.id {
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 769px) {

  figure,
  .logo {
    min-width: 25%;
    height: 100%;
    width: 600px;
  }



  .burger {
    display: block;
    height: 6vh;
    width: 6vw;
    position: relative;
    left: 40%;
    top: 2vh;
  }



}

@media screen and (max-width: 1068px) {
  header {
    background: RGB(255, 230, 185);
    flex-wrap: wrap;
  }

  .is-clickable {
    color: black
  }

  .dashboard {
    color: black
  }

  .App-header {
    background: RGB(255, 230, 185);
  }

  .avatar {
    /* max-width: 100%;
    min-width: 50%;
    min-height: 50%;
    max-height: 100%; */
    width: 150px;
    height: 50px;
  }

  h3 {
    color: RGB(255, 230, 185);
  }

  .title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    font-size: 40px;
    color: RGB(255, 230, 185);
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: RGB(255, 230, 185);
  }

  figure,
  .logo {
    margin-left: 10px;
    min-width: 25%;
    height: 100%;
    width: 220px;
  }

  p {
    color: RGB(255, 230, 185);
  }

  li {
    color: RGB(255, 230, 185);
  }

  h2 {
    color: RGB(255, 230, 185);
  }

  .label {
    color: RGB(255, 230, 185);
  }

  .users {
    color: RGB(255, 230, 185);
  }

  .lienGame {
    text-decoration: none;
    color: RGB(255, 230, 185);
  }

  .desc {
    color: RGB(255, 230, 185);
    display: flex;

    justify-content: center;
  }

  .video {
    width: 100%;
    height: 100%;
  }

  .fav {
    color: RGB(255, 230, 185);
  }


  .navLi {
    text-decoration: none;
    color: black;
  }



  /* permet de mettre le menu burger au premier plan mais abime le caroussel ? */
  .awssld {
    z-index: -15;
  }


  .nav-active {
    transform: translateX(0%);
  }

  body {
    overflow-x: hidden;
    background: black;
  }

  .games {
    color: RGB(255, 230, 185);
  }

  .table {
    width: 100%;
  }



  /* table responsive */
  table,
  thead,
  tbody,
  tr,
  th,
  td {
    display: block;

  }



  thead {
    display: none;
  }

  .cell {
    color: black;
    background-color: RGB(255, 230, 185);
  }

  th {
    color: RGB(255, 230, 185);
  }

  td {
    padding-left: 150px;
    position: relative;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  tr {
    margin-bottom: 1rem;
  }

  .avatar {
    width: 200px;
    height: 200px
  }

  /* 
  .img {
      max-width: 100%;
      min-width: 100%
          /*regles les image dans leur contenant pour que images aient même taille*/
  /*} */
}