* {
    box-sizing: border-box;
}

body {
    font-family: Arial;

}

.form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding-left: 70px;
    margin-top: 50px;

}

.form>label {
    cursor: pointer;
    margin-bottom: 6px;
    margin: 10px;
}

.form>input {
    padding: 7px 0 7px 20px;
    margin-bottom: 10px;
    height: 32px;
}

.form>input:last-of-type {
    margin-bottom: 20px;
}



.msg {
    height: 230px;
    width: 270px;

}

.form .btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 120px;
    margin-left: 50%;
}

.row {
    display: flex;

    margin-right: -15px;
    margin-left: 20px;
    justify-content: space-between;
}




.btn {

    background: rgb(52, 165, 52);
    margin-left: 150px;
}

/* formulaire create games */
.form.samples.kit .instrument {
    min-height: 200px;
    flex: 1;
    max-width: 300px;
    background: dodgerblue;
}



.form {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-bottom: 20px;

}

@media (max-width: 450px) {
    .form {
        max-width: calc(100vw - 20px);
        padding-left: 30px;

    }
}

/* permet de mettre en dessous de la nav */
/* label,
input,
button {
    z-index: -1;
} */

.form .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}



.form .label {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

.btn {
    outline: none;
    background: RGB(255, 230, 185);
    color: black;
    cursor: pointer;
    border-color: RGB(255, 230, 185);
}



.form .input,
.form .btn {
    height: 38px;
}

.form textarea.input {
    min-height: 38px;
    height: 100px;
    width: 100%;
    max-width: 100%;
}

.form .input,
.form textarea.input,
.form .btn {
    border: 1px solid black;
}

.form .input {
    padding: 5px 0 5px 20px;
    margin-bottom: 15px;
    width: inherit;
    outline: none;
}

.form select,
.form .input,
.form option {
    background: whitesmoke;
}

.form .input.color {
    height: 32px;
    width: 32px;
    padding: 0;
}

.form .row>.input,
.form .row>.btn {
    margin: 0;
}

.form .row>.input+.icon {
    margin-left: 20px;
}

.form .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
}

#image-picker {
    max-width: 200px;
}