header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-width: 8vw;
    display: flex;
}


/*logo*/
figure>img {
    max-width: 50%;
    max-height: 50%;
}

.logo {

    width: 200px;
    height: 100%;
}