.navi {
    /* width: 500px; */
    min-height: 8vh;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}




li {
    padding: 5px 5px;
    text-decoration: none;
    list-style: none;
    color: RGB(255, 230, 185);

}